body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Roboto', "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #123212;
    text-align: center;
}

.header {
    font-size: 64px;
    font-family: 'Roboto', "Arial", sans-serif;
    text-align: center;
}

.nav-menu {
    color: black;
    font-size: 48px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    background-color: #888888;
}

.nav-menu li {
    width: 50%;
    display: inline-block;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

.list-item-name {
    font-size: 32px;
    margin: 8px 8px;
}

.list-item-price {
    font-size: 32px;
    margin: 8px 8px;
}

.list-item-menu-details {
    font-size: 32px;
    text-align: center;
    margin: 8px 8px;
}

.list-name-details {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}

form > input {
    font-size: 32px;
    display: block;
    width: 256px;
    padding: 8px 8px;
    margin: auto;
    border-radius: 2px;
    border: 5px solid green;
}

form > button {
    font-size: 32px;
    width: 196px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 5px solid red;
    background-color: #888888;
}